<head>
	<style>
		body {
			font-family: -apple-system, sans-serif;
		}
	</style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="/javascript/index.js"></script>
</head>